'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Mesh-Embedded projects'
      'submenu': [
        { 'label': 'Toggle window',         'command': 'build-tools-cpp:toggle' },
        { 'label': 'Upload to device',      'command': 'build-tools-cpp:flash'  },
        { 'label': 'List connected boards', 'command': 'build-tools-cpp:list'   },
        { 'label': 'Clean project',         'command': 'build-tools-cpp:clean'  },
        { 'label': 'Build',                 'command': 'build-tools-cpp:build'  }
      ]
    ]
  }
]
